html {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    background: #fff6ef;
    font-family: Poppins, Open sans;
}

.start {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #b6240d;
}

.navbar-brand:hover {
    color: #b6240d;
}

h2 {
    color: #2b2722;
    margin-top: 30px;
}

#aboutImg {
    height: 515px;
    width: 515px;
}

p {
    margin-left: 190px;
    margin-right: 190px;
    text-align: justify;
}

main {
    margin-bottom: 50px;
}

footer {
    background-color: #1f1d19;
    margin-top: 60px;
    height: 70px;
    padding-top: 20px;
    text-align: center;
}

footer ul li {
    font-size: 14px;
    display: inline;
}

li:nth-child(2n) {
    margin-right: 20px;
    margin-left: 20px;
}

ul {
    padding-left: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f96b20;
}


@media(max-width:900px) {
    p {
        margin-left: 20px;
        margin-right: 20px;
    }

    #aboutImg {
        height: 315px;
        width: 315px;
    }

    footer {
        margin-top: 20px;
        height: 52px;
        padding-top: 10px;
    }


}

@media(max-width:420px) {
    #aboutImg {
        height: 215px;
        width: 215px;
    }

    .nav-item {
        font-size: 10px;
    }

    h2 {
        font-size: 20px;
    }

    footer {
        margin-top: 20px;
        height: 58px;
        padding-top: 10px;
    }

    li:nth-child(2n) {
        margin-right: 4px;
        margin-left: 4px;
    }

}