html {
    box-sizing: border-box;
}

.start {
    background-color: #403b34;
    height: 692px;
    font-family: Poppins, open sans;
}

.logo {
    font-family: Poppins, open sans;
    font-weight: 600;
    color: rgb(255, 236, 185);
}

.nav-item {
    color: white;
}

.nav-item:hover {
    color: #f96b20;
}

#carouselControls {
    width: 780px;
}

.h1p1 {
    font-size: 57px;
    font-weight: 700;
    color: rgb(255, 250, 244);
}

.navbar {
    padding-bottom: 85px;
}

.col-7 {
    padding-left: 1px;
}

.btn {
    color: rgb(255, 250, 244);
    background-color: #f9742d;
    border: none;
    width: 190px;
    height: 50px;
    border-radius: 14px;
    transition: background-color 10ms ease-in-out;
}

.btn:hover {
    color: rgb(255, 250, 244);
    background-color: #f96b20;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

h2 {
    font-family: Open sans;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: #2b2722;

}

.partTwo {
    padding-top: 50px;
    height: 570px;
}

.place {
    background: #f7f4f1;
    height: 390px;
    width: 280px;
    max-width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 3px 30px;
    transition: 10ms ease-in-out;
}

.place:nth-of-type(1n) {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.place:hover {
    transform: translateY(-5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.h2p2 {
    margin-left: 25px;
}

#image2 {
    height: 170px;
    align-self: center;
}

#infoTitle {
    font-weight: 700;
    color: #2b2722;
    text-transform: uppercase;
}

.partThree {
    height: 930px;
    background-color: #deeaf4;
    padding-top: 50px;
}

.h2p3 {
    color: #403b34;
    text-transform: uppercase;
    margin-left: 14px;
}

.place2 {
    background: #f1f3f7;
    height: 390px;
    width: 280px;
    max-width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 3px 30px;
    transition: 10ms ease-in-out;
}

.place2:nth-of-type(1n) {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.place2:hover {
    border: 1px solid #2e2e40;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.partFour {
    margin-top: 50px;
    height: 570px;
}

.h2p4 {
    color: #403b34;
    text-transform: uppercase;
}

.cardClass {
    margin: 0 200px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card {
    transition: 2ms ease-in-out;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.partFive {
    background-color: rgb(31, 26, 21);
    margin-top: 30px;
    height: 210px;
}

.h2p5 {
    color: #fffdfb;
    padding: 20px 0;
    text-transform: capitalize;
}

#pFoot {
    color: #ffffff;
}

ul,
li {
    margin: 0;
    padding: 0;
    color: #fffdfb;
    display: block;
}

a {
    color: white;
}

a:hover {
    text-transform: none;
    text-decoration: none;
    color: #f96b20;
}